<%= form_with model:@menu, local: true, multipart: true do |f| %>
<h2>メニューを登録</h2>
<%= f.hidden_field :place_id, :value => @place.id %>
<p>料理の名前 : <%= f.text_field :title %></p>
<p>Price : <%= f.text_field :price %></p>
<p>画像 : <%= f.file_field :image %></p>
<%= f.submit '登録する' %>
<% end %>
