<p>更新</p>
<%= form_with model: @user, local: true, multipart: true do |f| %>
  <p>お名前:<%= f.text_field :nickname %></p>
  <p>メールアドレス:<%= f.text_field :email %></p>
  <p>画像: <%= f.file_field :image %></p>
  <%= f.submit "送信" %>
<% end %>
