<%= stylesheet_link_tag "users", :media => "all" %>

<div class="users_info">
<h1>Users</h1>
</div>
<div class="users_index">
  <% @users.each do |user| %>
    <figure class="figure">
      <div class="photo_title">
        <p><%= user.nickname %></p>
      </div>
      <div class="card_height">
        <img src=<%= "/user_images/#{user.image_name}" %> class="figure-img img-fluid rounded" alt="user_images" width="200" height="300">
        <div class="users_show">
          <p><%= user.email %></p>
          <% if current_user.id == user.id %>
          <p><%= link_to'詳細', user_path(user.id), {class: "user_detail"} %> <%= link_to'編集', edit_user_path(user.id), {class: "user_detail"} %></p>
          <p><%= link_to'お気に入り一覧', edit_user_path(user.id), {class: "user_detail"} %></p>
          <% else %>
          <p><%= link_to'詳細', user_path(user.id), {class: "user_detail"} %></p>
          <p><%= link_to'お気に入り一覧', edit_user_path(user.id), {class: "user_detail"} %></p>
          <% end %>
          <% @user.places.each do |p| %>
            <%= p.name %>
          <% end %>
        </div>
      </div>
    </figure>
  <% end %>
</div>

<%= form_for(@item) do |f| %>
  <%= f.select :name, ["CANYON", "CAN", "TOny"],
    { include_blank: "選択してください" }, class: 'pub' %><br />

    <select class="pub" name="item[name]" id="item_name">
      <option value="">選択してください</option>
      <option selected="selected" value="CANYON">CANYON</option>
      <option value="CAN">CAN</option>
    </select>
<% end %>
