<%= stylesheet_link_tag "places", :media => "all" %>
<div class="index-nav">
  <ul>
    <li><%= link_to '機材を登録', new_item_path, {class: "second_link"} %></li>
    <li><%= link_to 'カフェを登録', new_place_path, {class: "second_link"} %></li>
  </ul>
</div>

<div class="container2">
  <div class="index-title">
    <h1>機材一覧</h1>
  </div>
  <div class="table-container">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">機材</th>
          <th scope="col">価格</th>
          <th scope="col">詳細</th>
        </tr>
      </thead>
      <% @user.items.each do |item| %>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= item.name %></td>
          <td>¥<%= item.price %></td>
          <td><%= link_to'所有機材', item_path(item.id), {class: "show-link"} %> <%= link_to'編集', edit_item_path(item.id), {class: "show-link"} %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
<div class="container3">
  <div class="index-title">
    <h1>カフェ一覧</h1>
  </div>
  <div class="table-container">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">カフェ</th>
          <th scope="col">メッセージ</th>
          <th scope="col">詳細</th>
        </tr>
      </thead>
      <% @user.places.each do |place| %>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= place.name %></td>
          <td><%= place.message %></td>
          <td><%= link_to'所有機材', place_path(place.id), {class: "show-link"} %> <%= link_to'編集', edit_place_path(place.id), {class: "show-link"} %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
