<%= stylesheet_link_tag "users", :media => "all" %>
<div class="index-nav">
  <ul>
    <li><%= link_to '機材を登録', new_item_path, {class: "second_link"} %></li>
    <li><%= link_to 'カフェを登録', new_place_path, {class: "second_link"} %></li>
    <li><%= link_to 'ライドを登録', new_post_path, {class: "second_link"} %></li>
  </ul>
</div>
<div class="user_infomation">
  <div class="user_show_cont">
    <div class="index-title">
      <h1>機材一覧</h1>
    </div>
    <div class="table-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">機材</th>
            <th scope="col">価格</th>
            <th scope="col">詳細</th>
          </tr>
        </thead>
        <% @user.items.each do |item| %>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><%= item.name %></td>
            <td>¥<%= item.price %></td>
            <td><%= link_to'Click!', item_path(item.id), {class: "show-link"} %> <%= link_to'編集', edit_item_path(item.id), {class: "show-link"} %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="user_show_cont">
    <div class="index-title">
      <h1>カフェ一覧</h1>
    </div>
    <div class="table-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">カフェ</th>
            <th scope="col">メッセージ</th>
            <th scope="col">詳細</th>
          </tr>
        </thead>
        <% @user.places.each do |place| %>
        <tbody>
          <tr>
            <th scope="row"></th>
            <div class="place_name_text">
              <td><%= place.name %></td>
            </div>
            <td><%= truncate(place.message, length: 13) %></td>
            <td><%= link_to'Click!', place_path(place.id), {class: "show-link"} %> <%= link_to'編集', edit_place_path(place.id), {class: "show-link"} %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="user_show_cont">
    <div class="index-title">
      <h1>ライド一覧</h1>
    </div>
    <div class="table-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">日時</th>
            <th scope="col">メッセージ</th>
            <th scope="col">詳細</th>
          </tr>
        </thead>
        <% @user.posts.each do |post| %>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><%= post.title %></td>
            <td><%= truncate(post.message, length: 13) %></td>
            <td><%= link_to'Click!', post_path(post.id), {class: "show-link"} %> <%= link_to'編集', edit_post_path(post.id), {class: "show-link"} %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
