<%= stylesheet_link_tag "places", :media => "all" %>

<div class="show_card">
  <img src="<%= "/place_images/#{@place.image_name}" %>" class="card-img-top" alt="cafe_image" width="500" height="450">
  <div class="card-body">
    <h5 class="card-title"><%= @place.name %></h5>
    <% if Like.find_by(user_id: current_user.id, place_id: @place.id) %>
      <%= link_to("/likes/#{@place.id}/destroy", {method: "post"}) do %>
        <i class="fas fa-heart"> Favorite!</i>
      <% end %>
    <% else %>
      <%= link_to("/likes/#{@place.id}/create", {method: "post"}) do %>
      <i class="far fa-heart"> お気に入り登録</i>
      <% end %>
    <% end %>
    <p class="card-text"><%= @place.message %></p>
    <%= link_to 'メニューを登録', new_menu_path(id: @place.id), {class: "menu_index"} %>
    <p>メニュー一覧</p>
    <% @place.menus.each do |menu| %>
      <div class="menu_one">
        <p><%= menu.title %> Price :<%= menu.price %>円(税抜) <%= link_to "詳細", menu_path(menu.id) %> <%= link_to"削除", menu_path(menu.id), method: :delete, data: {confirm: "削除しますか?"} %></p>
      </div>
    <% end %>
  </div>
</div>
